\#*
.\#*
*~
RuleEditor
literature
ex
catalan/out
catalan/summary
catalan/grammarStuff/out
catalan/grammarStuff/summary
catalan/praesentation/out
catalan/praesentation/summary
CRNs/out
CRNs/summary
ltxpng
catalan-template
test.rule