\#*
.\#*
*~
RuleEditor
literature
ex
catalan/out
catalan/summary
catalan/grammarStuff/out
catalan/grammarStuff/summary
catalan/praesentation/out
catalan/praesentation/summary
ltxpng
catalan-template
test.rule